# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build files
build/
dist/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store